[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-sqlalchemy = "*"
pydantic = {extras = ["email"], version = "*"}
alembic = "*"
psycopg2 = "*"
uvicorn = "*"
python-dotenv = "*"
importlib-resources = "*"
databases = {extras = ["postgresql"], version = "*"}
asyncpg = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]
pytest = "*"
requests = "*"

[requires]
python_version = "3.9"
